body {
    font-family: 'calibri';
    font-size: 12px;
    width: 155px;
    height: 160px;
    margin: 0px;
    padding: 0px;
}
#nav-head-text {
    font-size: 16px;
    font-weight: bold;
}
.days-table tbody tr {
    height: 20px;
}
table {
    width: 100%;
    table-layout: fixed;
    text-align: center;
}
.special-day {
    border-radius: 50%;
    width: 16px;
    height: 16px;
    padding: 0px;
    margin: 0px;
    border: 2px solid;
    text-align: center;
}
.current-day {
    background-color: #0099CC;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    padding: 0px;
    margin: 0px;
    text-align: center;
}
.days-table tbody tr td {
    padding: 0px;
    margin: 0px;
}
.colour-gray {
    border: 2px solid #666 !important;
}
.colour-yellow {
    border: 2px solid #CCCC00 !important;
}
.colour-orange {
    border: 2px solid #EE9A00 !important;
}
.colour-green {
    border: 2px solid #008B00 !important;
}
.colour-red {
    border: 2px solid #B0171F !important;
}
.colour-purple {
    border: 2px solid #5C246E !important;
}
.colour-other {
    border: 2px solid #5B90F6 !important;
}
.sun-0 {
    color: #CC1100;
}
.days-table {
    /*border-top: 1px solid #170000;*/
}
.row {
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
    /*border: 1px solid #170000;*/
    display: block;
}
.row::after {
    content: "";
    clear: both;
    display: table;
}
.col-left, .col-right {width: 20%;}
.col-middle {width: 60%;}
[class*="col-"] {
    float: left;
}
.leave-types {
    font-size: 8px;
    display: block;
}
i[red] {
    color: #d20915;
    font-size: 10px;
}
i[yellow] {
    color: #ffff00;
    font-size: 10px;
}
i[blue] {
    color: #4269ff;
    font-size: 10px;
}