body {
    font-family: 'calibri';
    font-size: 12px;
    width: 170px;
    height: 155px;
    margin: 0px;
    padding: 0px;
}
#nav-head-text {
    font-size: 16px;
    font-weight: bold;
}
.days-table tbody tr {
    height: 20px;
}
table {
    width: 100%;
    table-layout: fixed;
    text-align: center;
}
.special-day {
    border-radius: 50%;
    width: 16px;
    height: 16px;
    padding: 0px;
    margin: 0px;
    border: 2px solid;
    text-align: center;
}
.days-table tbody tr td {
    padding: 0px;
    margin: 0px;
}
.colour-gray {
    border-color: #666;
}
.colour-yellow {
    border-color: #CCCC00;
}
.colour-orange {
    border-color: #EE9A00;
}
.colour-green {
    border-color: #008B00;
}
.colour-red {
    border-color: #B0171F;
}
.colour-purple {
    border-color: #5C246E;
}
.colour-other {
    border-color: #5B90F6;
}
.sun-0 {
    color: #CC1100;
}
.days-table {
    /*border-top: 1px solid #170000;*/
}
.row {
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
    /*border: 1px solid #170000;*/
    display: block;
}
.row::after {
    content: "";
    clear: both;
    display: table;
}
.col-left, .col-right {width: 20%;}
.col-middle {width: 60%;}
[class*="col-"] {
    float: left;
}